<% provide :titulo, "Pessoas (Alteração)" %>
<% content_for :botoes do %>
	<li><%= link_to "Listar", pessoas_path %></li>
	<li><%= link_to "Adicionar", new_pessoa_path %></li>
<% end %>
<div class="center">
	<%= form_for(@pessoa) do |f| %>

		<%= render 'campos', f: f %>
		<br>
		<%= f.submit "Gravar", class: "btn" %> 
		<%= link_to "Cancelar", @pessoa, class: "btn" %>
	<% end %>
</div>