<% provide :titulo, "Usuários" %>
<% content_for :botoes do %>
	<li><%= link_to "Adicionar", new_usuario_path %></li>
<% end %>

<ul>
	<% @usuarios.each do |usuario| %>
		<li>
			<%= link_to "#{usuario.nome} - #{usuario.nome_completo}", usuario %>
			| <%= link_to "excluir", usuario, method: :delete,
				data: { confirm: "Tem certeza?" } %>
		</li>
	<% end %>
</ul>