<% provide :titulo, "Usuários (Detalhes)" %>
<% content_for :botoes do %>
	<li><%= link_to "Listar", usuarios_path %></li>
	<li><%= link_to "Adicionar", new_usuario_path %></li>
	<li><%= link_to "Excluir", @usuario, method: :delete,
		data: { confirm: "Tem certeza que deseja excluir '#{@usuario.nome}'?" } %></li>
	<li><%= link_to "Alterar", edit_usuario_path(params[:id]) %></li>
<% end %>

Nome: <%= @usuario.nome %><br>
Nome Completo: <%= @usuario.nome_completo %>
