@import "bootstrap";


#logo {
  float: left;
  margin-right: 10px;
  font-size: 2.1em;
  color: #0050a0;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
}
h1 {
	font-size: 1.9em;
}