<header class="navbar">
	<div class="navbar-inner">
		<div class="container">
			<div id="logo">Passe Livre</div>
			<% if logado? %>
				<nav>
					<ul class="nav pull-right">				
						<% if usuario_atual.admin? %>
							<li><%= link_to "Usuários", usuarios_path %></li>
							<li><%= link_to "Pessoas", pessoas_path %></li> 
						<% end %>
						<li><%= link_to "Sair", logoff_path, method: "delete" %></li>
					</ul>
				</nav>
			<% end %>
		</div>
	</div>
</header>